@import "colors";

aside {
  background: $background;
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;

  .content_rotate {
    .asside__text {
      text-align: center;
      padding-right: 250px;
      width: 100px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      white-space: pre;
    }
  }

}

