@import "colors";

aside {
  background: $background;
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;

  .content_rotate {
    .asside__text {
      justify-content: center;
      display: flex;
      text-align: center;
      width: 100vh;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      letter-spacing: 2vh;
    }
  }

}

