@import "./footer";
@import "./asside";

$background: #0E0F10;
$header_height: 4rem;
$main_height: calc(100vh - #{$header_height});

@font-face {
  font-family: Gothic;
  src: url("./fonts/CenturyGothic.ttf") format("truetype");
}

p{
  margin: 0;
}

body, html{
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Gothic, sans-serif;
}

#root {
  background: $background;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:  "aside header"
                        "aside  main"
                        "aside  footer";
  grid-template-rows: $header_height $main_height 15rem;
  grid-template-columns: 3rem 1fr;
}

header {
  background: #a11e21;
  grid-area: header;

}



main {
  grid-area: main;
  background: #a1903d;
}


