@import "./colors";
@import "slides/slide_1";
@import "slides/slide_2";
@import "slides/slide_4";
@import "slides/slide_6";
@import "slides/slide_7";
@import "slides/slide_8";
@import "./consts";

main {
  grid-area: main;
}

.main {

  &__slider{
    width: calc(100vw - 65px);
    height: 95%;
  }

  &__slide{
    height: 100%;
  }
  &__content{
    position: absolute;
    top: calc(50% - 7rem);
    padding: 3rem;
    width: 500px;
  }

  &__slide-down {
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: #FFFFFF;
    width: 30px;
    height: 50px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity:1;
    transform: translateY(46px);
  }
}

#slick-slide-control00, #slick-slide-control01, #slick-slide-control02, #slick-slide-control03, #slick-slide-control04, #slick-slide-control05, #slick-slide-control06, #slick-slide-control07, #slick-slide-control08, #slick-slide-control09{
  &:before{
    color: white;
  }
}

.slick-dots li.slick-active button:before {
  color: white;
}


.col-8 {
  width: 66.66666666666667%;
  box-sizing: border-box;
  padding-right: 5em;
}
.col-7 {
  width: 58.33333333333333%;
  box-sizing: border-box;
  padding-right: 5em;
}
.col-6 {
  width: 50%;
  box-sizing: border-box;
  padding-right: 5em;
}
.col-5 {
  width: 41.66666666666667%;
  box-sizing: border-box;
  padding-right: 5em;
}
.col-4 {
  width: 33.33333333333333%;
  box-sizing: border-box;
  padding-right: 5em;
}

#slide_2, #slide_3, #slide_4, #slide_5, #slide_6 {
  display: flex !important;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-image: none !important;
  .main__content{
    position: relative;
    top: inherit;
    width: 100%;
    img{
      width: 80%;
    }
    p{
      line-height: 1.5em;
    }
  }
}

a.slider__link, a.slider__link:active, a.slider__link:visited  {
  color: $grey-text-color;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 9px;
  border-bottom: 3px solid $grey-text-color;
}

a.slider__link.slider__link--active, a.slider__link.slider__link--active:active{
  color: $text-color;
  border-bottom: 3px solid $text-color;
}

.slider__navigator {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 0.08em;
}

.row{
  display: flex;
  flex-direction: row;
}

h2{
  font-size: 2em;
  letter-spacing: 0.21em;
}

.slide-header__short-line {
  border-bottom: 5px solid $text-color;
  display: block;
  width: 10em;
  margin-bottom: 10px;
}


