#sewing-slide {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
  font-size: calc(9px + 1vw);

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      .sewing-slide__img {
        display: none;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      height: 100%;
    }

    img {
      padding: 2%;
      max-height: 500px;
      max-width: 90%;
    }
  }

  .technical-requirements-header{
    padding-top: 10%;
  }

  .sewing-slide__img {
    padding: 2%;
    max-height: 500px;
    max-width: 90%;
  }

  .technical-requirements-slide____description-text {
    width: 100%;
    height: 100%;
    padding-top: 18%;
    padding-left: 18%;
    padding-bottom: 5%;
  }
}




