#slide_4 {
  .main__content{
    padding: 0 3rem 0 3rem;
  }
  .slide4__description-text {
    position: absolute;
    padding: 150px;
    top: 0;
    p{
      font-size: 12px;
    }
  }

  .slide4__description-box {
    position: relative;
  }
  svg{
    height: 600px;
  }
}

#slide_4.main__slide{
  height: auto;
}


