.slide_2__additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 600px;
  left: 500px;
  bottom: 100px;
  background: #2d2d2d;
  padding:  10px 30px 10px 30px;
}