#technical-requirements-slide {
  padding: 0 5vh 0 5vw;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  font-size: calc(9px + 1vw);

  .content {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      flex-direction: column;
      .technical-requirements-slide__description-box {
        display: none;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      height: 100%;
    }

    img {
      padding: 2%;
      max-height: 500px;
      max-width: 90%;
    }

  }

  .technical-requirements-header{
    padding-top: 10%;
  }

  .technical-requirements-slide__description-box {
    background: url("../assets/pages/technical-requirements.png") no-repeat;
    background-size: contain;
    font-size: calc(4px + 1vw);
  }

  .technical-requirements-slide____description-text {
    width: 100%;
    height: 100%;
    padding-top: 18%;
    padding-left: 18%;
    padding-bottom: 5%;
  }
}




